<article>{{pret}}</article>
<p data-key="{{key}}" >{{key}}</p>
<button id= "btndel" class="person-btn-del" data-role ="delete" data-alert="Ne peut être supprimé car un prêt est en cours !"data-key="{{key}}">Supprimer</button>